/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2018, 9:07:08 PM
    Author     : Asif Mahmud Rony
*/
.one{
<<<<<<< HEAD
    height: 160px;
    width:auto;
    background-color: blue;
}
.one_one{
    height:160px;
    width:500px;
    background-color:red;
}
.two{
    float:left;
    display:inline;
    overflow:hidden;
}
.two_one{
    height:50px;
    width:20%;
    background-color: #9999ff;
}
.two_two{
    height:50px;
    width:20%;
    background-color: #3333ff;
}
.two_three{
    height:50px;
    width:20%;
    background-color: #99ffff;
}
.two_four{
    height:50px;
    width:20%;
    background-color: #009999;
}
two_five{
    height:50px;
    width:20%;
    background-color: #00cccc;
}
=======
    float:left;
    background-color: #0066ff;
    border: 1px solid black;
    width:30%;
}
.one_one{
    float:left;
    background-color: ;
    border: 1px solid black;
    width:30%;
}
>>>>>>> f092dd38b03aade153268eb67a6c20e03a74a585
